<ifModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
</ifModule>

<files README.md>
 order allow,deny
 deny from all
</files>

ErrorDocument 404 /404.html
